.canvas-container {
    position: absolute;
}
.display_under{
    background-color: #ece75f; /* yellow */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px; /* Adjust the width as needed */
    background-color: #FCD34D; /* Set the background color for the sidebar */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a shadow effect to the sidebar */
  }
  
  .sidebar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    background-color: #f9a826; /* Set the background color for the buttons */
    transition: background-color 0.3s ease;
  }
  
  .sidebar-button:hover {
    background-color: #FFC043; /* Set the background color for the buttons on hover */
  }
  
  .sidebar-button i {
    margin-right: 8px;
  }
  
  .canvas-container {
    margin-left: 200px; /* Adjust the left margin to accommodate the sidebar width */
  }